:root {
    --background-color: #191919;
    --primary-color: #fffb00;
    --secondary-color: #2E2E2E;
    --online: #239703;
    --connecting: #ffe600;
    --offline: #ce0000;
    --font-color: #fff;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: var(--background-color);
}

content {
    display: block;
    height: calc(100vh - 2rem);
    overflow-y: auto;
    overflow-x: hidden;
}

nav {
    background: var(--secondary-color);
    color: var(--primary-color);
    -webkit-app-region: drag;
    height: 2rem;
    font-size: .8rem;
    display: -ms-grid;
    -ms-grid-columns: auto 69px 69px 69px;
    -ms-grid-rows: 1fr;
    display: grid;
    grid-template-columns: auto 69px 69px 69px;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

nav > * {
    display: flex;
    align-items: center;
}

nav > a {
    -webkit-app-region: no-drag;
    cursor: default;
}
  
.menu {
    grid-area: menu;
    padding: 0 calc(100% - 46%);
}

.minimize { 
    grid-area: minimize;
    justify-content: center;
}

.maximize { 
    grid-area: maximize;
    justify-content: center;
}

.maximize:hover, .minimize:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.close { 
    grid-area: close;
    justify-content: center;
}
  
.close:hover { 
    background-color: #ce0000;
}

a {
    user-select: none;
}

a.primary, a.secondary {
    display: block;
    width: 10rem;
    text-align: center;
    border-radius: 6px;
    margin: 1em;
    cursor: pointer;
}

a.primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}

a.secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color)
}

a.primary:hover{
    color: var(--font-color);
    background-image:     linear-gradient(
       to right, 
       #E7484F,
       #E7484F 16.65%,
       #F68B1D 16.65%,
       #F68B1D 33.3%,
       #FCED00 33.3%,
       #FCED00 49.95%,
       #009E4F 49.95%,
       #009E4F 66.6%,
       #00AAC3 66.6%,
       #00AAC3 83.25%,
       #732982 83.25%,
       #732982 100%,
       #E7484F 100%
     );
   animation:slidebg 2s linear infinite;
 }

 a.primary:active {
     background-color: var(--primary-color);
     background-image: none;
     color: var(--secondary-color)
 }

 .update {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    cursor: pointer;
 }

 @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }