@import url('./stylesheet.css');

@keyframes scrollUpDown {
  0% {
      transform: translateY(0%);
  }

  100% {
      transform: translateY(-25%);
  }
}


body {
    /* background-color: #f5f5f5; */
    width: 600px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Futura Hv BT';
    font-weight: 900;
    font-style: normal;
    overflow: hidden;
  }

  h4 {
    color: #cd0000;
    font-size: 42px;
    letter-spacing: -2px;
    text-align: left;
    display: none;
  }
  .list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
    list-style: none;
    list-style: none;
  }
  .list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    font-size: large
  }
  .list li:hover {
    background-color: #f0f0f0;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
  }
  .lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 495px;
    margin-left: 40px;
    display: none;
  }

  
ul[scroll] {
  animation: scrollUpDown 25s linear 0s infinite alternate;
}




